<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visionauts | Let's go global</title>

    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">

    <!-- google fonts link  -->
    <link
        href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,800,800italic,900,900italic"
        rel="stylesheet" />

    <!-- fontawesome cdnjs link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="libs/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="libs/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css">

    <!-- custom css link  -->
    <link rel="stylesheet" href="../css/audit.css">
</head>

<body>

    <!-- topbar starts here  -->
    <div class="topbar">
        <div class="col">
            <div class="topbar-left">
                <div class="text">
                    <i class="fa-regular fa-clock"></i>
                    <h2>10:00 AM - 8:00 PM</h2>
                    <p>Mon - Sat</p>
                </div>
            </div>
            <div class="topbar-right">
                <div class="text">
                    <i class="fa-regular fa-envelope"></i>
                    <h2>hello@gmail.com</h2>
                </div>
                <div class="text">
                    <i class="fa-solid fa-phone"></i>
                    <h2>+123 456 7890</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- topbar ends here  -->


    <!-- header starts here  -->
    <header>
        <div class="navbar">
            <div class="logo"><img src="../img/logo.png" alt=""><span>The Visionauts</span></div>
            <nav class="group">
                <ul class="navigation">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../index.html#services">Service</a></li>
                    <li><a href="../index.html#about">About</a></li>
                    <li><a href="audit.html">Free Audit</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- header ends here  -->


    <!-- audit section starts here  -->
    <section id="audit">
        <div class="auditcontainer">
            <section id="about">
                <div class="text">
                    <p class="abouttag">Free Amazon Product Listing Audit</p>
                    <p class="aboutdesc">
                        Struggling to see the results you expect? Want to increase sales on Amazon? Maybe you’re
                        facing
                        a sudden drop in orders or your performance metrics aren’t right, maybe you’re a beginner
                        and
                        unsure of how to launch your product, or you’re a seller seasoned want to identify potential
                        hazards in your seller account.
                        <br><br>
                        Whatever the reason, Visionauts Amazon Seller Checkout consultants create a comprehensive
                        micro-level overview to cover all aspects of your Amazon account. To perform a thorough FBA
                        check, we perform a comprehensive analysis of overall account health, product listings, a-z
                        statements, seller statistics, pricing, advertising campaigns, and competitors. compete to
                        identify potential risks and recommend improvements to the account. The verification of your
                        Amazon account will be performed by an in-house team of Amazon experts who have worked
                        across
                        multiple marketplaces and have experience with all types of sellers and foods. appear in the
                        Seller Center and the Vendor Center.
                    </p>
                </div>

                <div class="dtbox">
                    <div class="box box1">
                        <p class="title">Data Collection</p>
                        <p class="para">
                            Our experienced Amazon consultants thoroughly analyze your sales hub to identify top and
                            bottom performing ASINs, listing and account health, sales conversation rate , purchase
                            box percentage, campaign and inventory management. In addition, we consider product
                            competitiveness, keywords used in the backend and content, and effective detail page
                            optimization and image listing.
                        </p>
                    </div>
                    <div class="box box2">
                        <p class="title">Problem Identification</p>
                        <p class="para">
                            A clear report that highlights the key challenges that are hindering your growth. Using
                            a systematic approach, our Amazon expert advisors highlight existing and potential
                            issues, cataloging security vulnerabilities and health risks. The report will also
                            include a brief talk about the reasons and possibilities behind poor ASIN performance,
                            pay-per-click campaigns, and negative customer feedback.
                        </p>
                        <div class="box box3">
                            <p class="title">Problem's Solution</p>
                            <p class="para">
                                Without interruption, our Amazon sales consultants will prepare a detailed action plan
                                based on real-time information showing how you can address current and potential issues,
                                increase Sell ​​faster, follow Amazon guidelines, and make good decisions to improve
                                your Amazon every day. Transaction.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section id="detail">
                <div class="dtimg">
                    <img src="../img/auditimg/audit1.jpg" alt="">
                </div>
            </section>
            <section id="form">
                <form action="">
                    <p><i class="fa-solid fa-circle-info"></i>&nbsp;&nbsp;Drop in your details for Free Audit</p>
                    <label for="name">Your name</label>
                    <input type="text" id="name">
                    <br>

                    <label for="asin">Product ASIN</label>
                    <input type="text" id="asin">
                    <br>

                    <label for="marketplace">Marketplace</label>
                    <input type="text" id="marketplace">
                    <br>

                    <label for="email">Your email</label>
                    <input type="email" id="email">
                    <br>

                    <label for="contact">Your Contact number</label>
                    <input type="text" id="contact">

                    <label for="msg">Your message (optional)</label>
                    <textarea name="msg" id="msg" cols="30" rows="10"></textarea>
                    <br>

                    <input type="submit" id="sbm-btn" value="submit">

                </form>
            </section>
        </div>
    </section>
    <!-- audit section ends here  -->


    <!-- footer starts here  -->
    <footer>
        <div class="footer-content">
            <div class="logo">
                <div class="img"><img src="../img/logo.png" alt=""></div>
                <div class="logo-txt">The Visionauts</div>
            </div>
            <div class="copyright-text">
                Copyright &copy; | All rights are reserved
            </div>
            <div class="follow-links">
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-whatsapp"></i>
                <i class="fa-brands fa-linkedin-in"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-pinterest-p"></i>
            </div>
        </div>
    </footer>
    <!-- footer ends here  -->

    <script src="../libs/jquery-3.6.1.min.js"></script>
    <script src="../libs/OwlCarousel2-2.3.4/dist/owl.carousel.js"></script>

    <!-- custom js link  -->
    <script src="../js/main.js"></script>
</body>

</html>